<!DOCTYPE html>
<html>
    <head>
        <title>Criminal Identification Framework</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <% include shims/header.ejs %>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col s2"></div>
                <form class="col s8 z-depth-2" action="/generate" method="post" encType="multipart/form-data">
                    <h4 class="center">Generate A Suspect Profile</h4>
                    <div class="row">
                        <div class="col s2"></div>
                        <div class="input-field col s8">
                            <input id="suspect_name" required="true" id="first_name" type="text" class="validate" name="suspect_name">
                            <label for="first_name">Suspect Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2"></div>
                        <div class="input-field col s8">
                            <input id="suspect_id" required="true" id="id" type="text" class="validate" name="suspect_id">
                            <label for="id">Suspect ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2"></div>
                        <div class="col s8">
                            <div class="file-field input-field ">
                                <div class="btn blue">
                                    <span>Upload Image</span>
                                    <input id="file" required="true" type="file" name="suspect_image">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <button class="red btn-large btn waves-effect waves-light btn_submit" type="submit">Submit
                            <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    
                </form>
            </div>
        </div>
        
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
        $( document ).ready(function(){
            $(".progress").hide();
            $(".button-collapse").sideNav();
            $("form").on("submit", function(){
                $(".progress").show();

                var formData = new FormData();
                formData.append('suspect_image', $('#file')[0].files[0]);
                formData.append('suspect_name', $('#suspect_name').val());
                formData.append('suspect_id', $('#suspect_id').val());

                var saveData = $.ajax({
                    type: 'POST',
                    url: "/generate",
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function(resultData) { 
                        if(!resultData.error) {
                            $(".progress").hide();
                            $('form')[0].reset();
                            Materialize.toast('Success Generating ID', 4000)
                        } else {
                            Materialize.toast('An Error Has Occured', 4000)
                        }
                    }
                });
                return false;
            })
        });
        </script>
    </body>
</html>