<nav>
	<div class="nav-wrapper blue">
		<a href="/" class="brand-logo"><i class="large material-icons">face</i>Safety First</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/">Detect</a></li>
			<li><a href="/generate">Generate</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/">Detect</a></li>
			<li><a href="/generate">Generate</a></li>
		</ul>
	</div>
</nav>